@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap');
@font-face {
    font-family: main;
    src: url(fonte/Mainstay.ttf);}

body{
    padding: 0;
    margin: 0;
    background-image: url(imagens/fundo.png);
    background-repeat: repeat;
    background-size:100%;}

.intro{
    margin-top: 0px;
    padding: 30px;
    color:white; 
    background-color: #00000000;
    font-family: 'main';
    max-width: 100%;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 200;
    text-align: center;
    text-shadow: 3px 2px 20px rgb(255, 125, 38);}
    
@media screen and (max-width:600px){
    .intro{font-size: 33px;
        line-height: 27px;
        background-color: rgba(0, 0, 0, 0.89);}}


.container{
    color: rgb(255, 252, 61);
    text-shadow: 5px 5px 15px rgb(0, 0, 0);
    text-align: center;
    max-width: 300px;
    margin: auto;
    background-color: #000000c0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 5px;
    border-radius: 5px;
    font-family: 'Podkova', Helvetica, sans-serif;
    font-size: 19px;
    border-style: inset;
    border-color: white;}

    @media screen and (max-width:600px){
        .container{background-color: #000000f1;}}


input{
    border-radius: 4px;
    margin: auto;
    width: 35%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;}

button{
    display: block;
    margin: auto;
    width: 35%;
    font-weight: 600;
    color: black;
    font-family: 'Podkova',Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;}

#resultado{
    
    font-weight: 800;
    border-radius: 4px;
    font-size: 20px;}



